.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, lightblue, white);
    height: 100%;
    background-attachment: fixed;
}

.App-header {
    background-color: #18253f;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
    position: sticky;
    top: 0;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}